.custom__heading{
    margin-left: auto;
    margin-right: auto;
    color: #8E5D2E;
}
.custom__page__width{
    padding: 100px 162px !important;
}
@media screen and (min-width: 990px) {
 
    .custom__blog_post{
       width: 507px!important;
    }
}