.custom-collection__title{
    text-align: center;
}
.custom-collection__title> .title{
    font-family: Avenir LT Std;
    font-size: 48px;
    font-weight: 400;
    line-height: 56.52px;
    text-align: center;
    color: #8E5D2E;    
}
.custom-product.card__information{

}
.custom-add-to-cart-product_card{
    height: 42.5px;
    margin-left: 7px;
    margin-right: 7px;
    font-family: Avenir LT Std;
    font-size: 20.89px;
    font-weight: 400;
    line-height: 24.6px;
    text-align: center;
    color: #8E5D2E;
    margin-bottom: 17px;
}
.custom-product.card__content{
    background-color : #D9D9D92B
}

.custom-product-grid.grid{
    column-gap: 30.5px
}
.custom.grid--4-col-desktop .grid__item{
    width: calc(23% - var(--grid-desktop-horizontal-spacing)* 3 / 4);
}
.custom-product.card__information{
    padding-bottom: 24px !important;
    padding-top: 24px !important;
    grid-row-start: 1 !important;
    padding-left: 14px !important;
}
.custom-product.card__information>h3{
    font-family: Avenir LT Std;
    font-size: 31.34px;
    font-weight: 400;
    line-height: 36.9px;
    text-align: left;
    color: #8E5D2E;
}
.custom-product.rating-count{
    font-family: Avenir LT Std;
    font-size: 17.41px;
    font-weight: 400;
    line-height: 20.73px;
    text-align: left;
    color: #8E5D2E9E;
}
.custom-product.rating>span{
    color: #F8A300;
}
.custom-product.price{
    margin: 0 !important;
    font-family: Avenir LT Std;
    font-size: 17.41px;
    font-weight: 400;
    line-height: 20.73px;
    text-align: center;
    color: #8E5D2E;
}
@media screen and (max-width: 750px) {
    .custom-product-grid.grid{
        column-gap: 9.69px
    }
}
@media screen and (min-width: 990px) {
    .grid--4-col-desktop .custom.grid__item {
        width: calc(23% - var(--grid-desktop-horizontal-spacing)* 3 / 4) !important;
        max-width: calc(25% - var(--grid-desktop-horizontal-spacing)* 3 / 4);
    }
}