.custom-container1{
    width: 100%;
    gap: 37px;
    display: flex;
    flex-wrap: wrap;
    justify-content:  space-evenly;
}

 
.block-size{
    height:  196px;
    opacity: 0px;
}
.block-size-1{
    height:  196px;
    opacity: 0px;
    width:400px;
}
.block-size-2{
    width:372px;
    height:  196px;
    opacity: 0px;
}
.block-size-3{
    width:355px;
    height:  196px;
    opacity: 0px;
}
.block-size-4{
    width: 362px;;
    height:  196px;
    opacity: 0px;
}
.custom-image{
    width: 80px;
    height: 80px;
    padding: 16.46px 4.05px 16.54px 4.11px;
    color: #8E5D2E9E;
    margin-bottom: 24px;
}
.custom-content{
    width: 100%;
}
.custom-title{
    font-family: Avenir LT Std;
    font-size: 32px;
    font-weight: 400;
    line-height: 37.68px;
    text-align: center;
    margin-bottom: 6px;
    color:  #8E5D2E;
}
.description{
    font-family: Avenir LT Std;
    font-size: 20px;
    font-weight: 400;
    line-height: 23.81px;
    text-align: center;
    box-shadow: 0px 1px 8.5px 0px #8D572D08;
    color: #8E5D2E9E;
}
@media screen and (max-width: 768px ) {
    .custom-container1 {
      width: 327.55px;
    }
    .block-size-1{
        height:  87.11px;
        width:  161.42px;
    }
    .custom-image{
        width: 32px;
        height: 32px;
        padding: 6.58px 1.62px 6.61px 1.64px;
    }
    .custom-title{
        font-family: Calibri;
        font-size: 12.91px;
        font-weight: 400;
        line-height: 15.21px;
        text-align: center;
    }
    .description{
        font-family: Avenir LT Std;
        font-size: 8.07px;
        font-weight: 400;
        line-height: 9.61px;
        text-align: center;
    }
  }
  
