.custom-collection-list-card-wrapper{
    position: relative;
}
.custom-collection__list-card_content{
    position:absolute;
    top: 40px;
}
.custom-collection-list-card{
    height: auto!important;
}
.card__media__img{
    height: auto!important;
}
@media screen and (min-width: 750px) {
    .custom-grid__item{
        width: calc(26% - var(--grid-desktop-horizontal-spacing)* 3 / 4) !important;
        max-width: calc(50% - var(--grid-desktop-horizontal-spacing) / 2);
    }
}
@media screen and (min-width: 750px) {
    .custom.grid {
        column-gap: 24px!important;
        row-gap: 24px!important;
    }
}