.custom-collection__title{
    text-align: center;
}
.custom-collection__title> .title{
    font-family: Avenir LT Std;
    font-size: 48px;
    font-weight: 400;
    line-height: 56.52px;
    text-align: center;
    color: #8E5D2E;    
}
.custom-add-to-cart-product_card{

}
.custom-product-grid.grid{
    column-gap: 30.5px
}
.custom.grid--4-col-desktop .grid__item{
    width: calc(23% - var(--grid-desktop-horizontal-spacing)* 3 / 4);
}
@media screen and (max-width: 750px) {
    .custom-product-grid.grid{
        column-gap: 9.69px
    }
}
@media screen and (min-width: 990px) {
    .custom.grid--4-col-desktop .grid__item {
        width: calc(23% - var(--grid-desktop-horizontal-spacing)* 3 / 4);
        max-width: calc(25% - var(--grid-desktop-horizontal-spacing)* 3 / 4);
    }
}