.custom-container1{
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 45px 156px;
    gap: 24px;

}
.block-size{
    gap: 24px;
    display: grid;
    grid-template-columns: auto;
}
.custom-image{
    width: 80px;
    height: 80px;
    padding: 16.46px 4.05px 16.54px 4.11px;
}
.custom-content{
    Gap :6px;
}
