.custom-collection-list-card-wrapper{
    position: relative;
}
.custom-collection__list-card_content{
    position:absolute;
    top: 40px;
}
.custom-collection-list-card{
    height: auto;
}