.img-txt-overlay-contaner{
}
.img-txt-overlay-title>p{
    font-family: Calibri;
    font-size: 55.62px;
    font-weight: 300;
    line-height: 67.85px;
    text-align: center;
    margin: 0;
    color:#8E5D2E    

}
.img-txt-overlay-description>p{
    font-family: Avenir LT Std;
    font-size: 27.81px;
    font-weight: 400;
    line-height: 33.37px;
    text-align: center;
    margin: 0;
    color:#8E5D2E  
      
}
.img-txt-overlay-content{
    display: block;
    top: 200px;
    left:800px;
}
.btn-img-txt{
    display: block;
    color: white;
    background-color: #8E5D2E;
    width: 150px;
    height: 49px;
    left: 215px;
    top: 250px;
}